
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Settings
@import "settings";

// Foundation
@import "node_modules/foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
@include foundation-everything(true);


body {
  background: #181818;
}

.top-bar {
  background: rgba(36, 38, 44, 1.000);
  height: 4rem;
  color: #aaa;
}